#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
coloredlogs>=15.0.1
requests>=2.25.1
cachetools>=4.2.2
pytz>=2021.1
dataclasses~=0.6 ; python_version == '3.6'