#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
coloredlogs>=10.0
requests>=2.25.1
cachetools>=2.1.0
pytz>=2020.5
dataclasses~=0.6 ; python_version == '3.6'